.window {
  background-color: transparent;
  font-family: "Recursive Sans Linear Static";
  font-size: 16px;
  color: #cdd6f4;
}

/*
* Containers
*/
.date-time,
.workspaces,
.utilities {
  background-color: #1e1e2e;
  padding: 8px 24px 8px 24px;
  border-bottom: 2px solid #11111b;
  margin-top: 8px;
}
.date-time {
  border-radius: 32px;
}

.workspaces {
  border-radius: 0 32px 32px 0;
}

.utilities {
  border-radius: 32px 0 0 32px;
}

/*
* Date time
*/

.watch-circle {
  margin-right: 8px;
  margin-top: 2px;
}

.hours,
.minutes,
.time-separator {
  font-weight: bold;
}

.time-separator {
  color: #cba6f7;
}

/*
* Workspaces
*/

.workspace-button {
  border: none;
  padding: 0;
  background: transparent;
  border-radius: 0;
  margin: 0;
}

/*
* Utilities
*/
.utilities > svg {
  color: #cba6f7;
}
