@import "./theme/rose-pine.css";

* {
  all: unset;
  font-family: Ububtu Nerd Font;
  transition: 0.3s;
  font-size: 1rem;
}

.floating-notifications.background .notification-row {
  margin: 4px;
}

.floating-notifications.background .notification-row .notification-background {
  background-color: #191724;
  color: #e0def4;
  border: 1px solid @rose;
  padding: 0 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  border-radius: 0.5rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #eb6f92;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem 0 0.125rem 0.5rem;
  color: #e0def4;
  font-weight: bold;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.125rem 0 0.5rem 0.5rem;
  color: #908caa;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  margin: 0.5rem 0 0 0;
  color: @base;
  background-color: @pine;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @rose;
  color: @base;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6e6a86;
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #eb6f92;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:hover {
  color: #191724;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ebbcba;
}

.control-center {
  border-radius: 0.5rem;
  margin: 0.25rem;
  background-color: #191724;
  color: #e0def4;
  padding: 1rem;
  border: 1px solid @rose;
}

.control-center .widget-title {
  color: #ebbcba;
  font-weight: bold;
}

.control-center .widget-title button {
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #1f1d2e;
  border: 1px solid #6e6a86;
  padding: 0.5rem;
}

.control-center .widget-title button:hover {
  background-color: #26233a;
}

.control-center .widget-title button:active {
  background-color: #6e6a86;
}

.control-center .notification-row .notification-background {
  margin: 0.5rem 0;
  background-color: #1f1d2e;
  color: #e0def4;
  border: 1px solid #6e6a86;
}

.control-center .notification-row .notification-background .notification {
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  border: 1px solid #eb6f92;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  color: #e0def4;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  margin: 0.5rem 0 0.125rem 1rem;
  color: #e0def4;
  font-weight: bold;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  margin: 0.125rem 0 0.25rem 1rem;
  color: #908caa;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .time {
  color: @base;
  background: @rose;
  border-radius: 2px;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3rem;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  margin: 0.5rem 0 0 0;
  color: @base;
  background-color: @pine;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  background-color: @rose;
  color: @base;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  background-color: #6e6a86;
  color: @text;
}

.control-center .notification-row .notification-background .close-button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  color: #e0def4;
  background-color: #eb6f92;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: #191724;
}

.control-center
  .notification-row
  .notification-background
  .close-button:active {
  background-color: #ebbcba;
}

progressbar,
progress,
trough {
  border-radius: 0.5rem;
}

.notification.critical progress {
  background-color: #eb6f92;
}

.notification.low progress,
.notification.normal progress {
  background-color: #9ccfd8;
}

trough {
  background-color: #1f1d2e;
}

.control-center trough {
  background-color: #6e6a86;
}

.control-center-dnd {
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.control-center-dnd slider {
  background: #26233a;
  border-radius: 0.5rem;
}

.widget-dnd {
  color: #908caa;
}

.widget-dnd > switch {
  border-radius: 0.5rem;
  background: #26233a;
  border: 1px solid #6e6a86;
}

.widget-dnd > switch:checked slider {
  background: #31748f;
}

.widget-dnd > switch slider {
  background: #6e6a86;
  border-radius: 0.5rem;
  margin: 0.25rem;
}

.widget-buttons-grid {
  padding: 6px 2px;
  border-radius: 4px;
  background: @overlay;
  margin: 0 0 0.25rem 0;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 4px 10px;
  padding: 6px 20px;
  background: transparent;
  border-radius: 8px;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: @surface;
}
.widget-mpris .widget-mpris-player {
  background: #26233a;
  padding: 7px;
}

.widget-mpris > box > button {
  border-radius: 20px;
  background: @surface;
  border-radius: 20px;
  padding: 2px;
}

.widget-mpris button {
  background: @active;
  border-radius: 20px;
  padding: 2px;
  margin: 0 0 8px 0;
}

.widget-mpris button:hover {
  background: @hover;
}

.widget-mpris-album-art {
  border-radius: 20px;
  margin: 8px 0 0 8px;
}

.widget-mpris-title {
  /* font-weight: 700; */
  /* font-size: 1rem; */
}

.widget-mpris-subtitle {
  /* font-weight: 500; */
  /* font-size: 0.8rem; */
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}
