.stow-local-ignore

# K9s ignores
.config/k9s/clusters/
.config/k9s/k9s.log

# Lazygit state
.config/lazygit/state.yml

# Spicetify
.spicetify/
.config/spicetify/

# macOS files
.DS_Store
.config/nvim/tmux*.log
