.stow-local-ignore

# btop
common/.config/btop/btop.log

# K9s ignores
common/.config/k9s/clusters/
common/.config/k9s/k9s.log

# Lazygit state
common/.config/lazygit/state.yml

# Spicetify
linux/.spicetify/
linux/.config/spicetify/

# macOS files
.DS_Store
commmon/.config/nvim/tmux*.log

#tmux
common/.config/tmux/plugins
tmux-client-*.log
linux/.config/spicetify
linux/.config/thefuck/__pycache__/settings.cpython-313.pyc
linux/common/.config/thefuck/__pycache__/settings.cpython-313.pyc
